.navbar{
    display: flex;
    justify-content: space-around;
    padding: 13px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 550;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(114, 113, 113);
    font-size: 16px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: purple;
}

.nav-login{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login button{
    width: 130px;
    height: 58px;
    outline: none;
    border: 2px solid #aeadad;
    border-radius: 75px;
    color: grey;
    font-size: 18px;
    font-weight: 600;
    background: white;
    cursor: pointer;
}

.nav-login button:active{
    background: #e4e4e4;
}

.nav-shop-item{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: purple;
    color: white;
}
